
      *  {
          margin: 0;
          padding: 0;
      }
nav {
    font-size: 20px;
    background-color: goldenrod;
    width: 100 vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

.links {

    width: 20vw;
    display: flex;

    justify-content: space-between;
}

nav a:hover {
    transition: all 700ms ease-in-out;
    color: cornflowerblue;
    font-weight: bold;
}